{% include 'partials/navbar.html' %}
<h2>Allocate Entry User</h2>
<form method="POST">{% csrf_token %}
    <input name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <select name="role" required>
        <option value="entry">Entry User</option>
        <option value="admin">Admin</option>
    </select>
    <button type="submit">Create User</button>
</form>

{% if message %}
<p style="color:green;">{{ message }}</p>
{% endif %}
{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}
